.header{
    background-color: $blue_base;
    
    h2{
        color: white;
    }
    .logo {
        height: 90px;
        &:last-child {
            height: 70px;
            width: 110px;
        }
    }
}

.navbar {
    background-color: $blue_base !important;

    .title {
        font-weight: 800;
    }
}