.dashboard {
    margin-top: $nav-size;
    display: flex;
    flex-direction: column;
    height: 90vh;

    &__image {
        img {
            object-fit: cover;
            width: 100%;
            height: 25em;
        }
    }
    
    .dashboard__cards {      
        position: relative;
        top: -200px;
        width: 100%;
        
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 30px;
        
        .card {
            height: 375px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
            img { height: 135px; }

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .dashboard__button {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    button {
                        background-color: $blue-500;
                        border-color: $blue-400;

                        &:active,
                        &:focus,
                        &:hover {
                            box-shadow: 0 0 0 .20rem rgba($color: $blue-500, $alpha: .35);
                        }
                    }
                }
            }
            &:nth-child(1),
            &:nth-child(2) {
                width: 280px;
            }
            &:nth-child(3) {
                width: 520px;
                .card-body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

/* Desktop EXTRA LARGE */
@media only screen and (min-width : 1400px) {
    .dashboard {
        .dashboard__cards {
            justify-content: center;
            top: -200px;
            gap: 30px;

            .card {
                &:nth-child(1),
                &:nth-child(2) {
                    width: 290px;
                }
                &:nth-child(3) {
                    width: 600px;
                    .card-body {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

/* Desktop Large*/
@media only screen and (max-width : 1200px) {
    .dashboard {
        .dashboard__cards {
            gap: 20px;
            padding: 0px 20px;
            flex-wrap: wrap;
            .card {
                &:nth-child(1),
                &:nth-child(2) {
                    width: 270px;
                }
                &:nth-child(3) {
                    flex-basis: 560px;
                    .card-body {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

/* Mobile */
@media only screen and (max-width : 991px) {
    .dashboard {
        &__image {
            img {
                height: 22em;
                width: 100%;
                object-fit: cover;
            }
        }

        .dashboard__cards {      
            position: relative;
            top: calc(-30em / 2);

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: nowrap;
            
            .card {
                height: 375px;
                width: 18rem;

                .card-body {
                    justify-content: space-between;
                }

                iframe {
                    width: 100%;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    width: 18rem;
                }

                &:nth-child(3) {
                    width: 18rem;
                    flex-basis: 375px;

                    .card-body {
                        justify-content: stretch;
                        align-items: stretch;
                    }
                }
            }
            
            .facebook_card {
                margin-bottom: 50px;
            }
        }
    }
}