.login {
    font-family: $base-font;

    &__form {
        background-color: $blue-500;
        align-items: center;

        .logo {
            margin: 2em 0em;
            img {
                margin: 0em 100px;
                &:first-child {
                    height: 100px;
                    width: 80px;
                }
                
                &:last-child {
                    height: 90px;
                    width: 120px;
                }
            }
        }

        .form_container {
            margin-top: 0em;

            .title {
                color: $white;
                font-size: 2.5rem;
                font-weight: 700;
                letter-spacing: 1px;
                margin-bottom: 1.2em;
                text-transform: uppercase;
            }
            
            .numCuenta, .nip {
                margin-bottom: 2em;
        
                &__input {
                    background-color: transparent;
                    border: 2px solid $white;
                    border-radius: 4px;
                    color: $white;
                    
                    padding: 6px 12px;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        
                &__label {
                    color: $white;
                }
        
                .form-control {
                    background-color: transparent;        
                    color: $white;
                    font-family: $base-font;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 3px;
                    padding: 0;
                }

                .form-control:focus {
                    outline: none;
                    box-shadow: none;
                }

                .form-control::placeholder {
                    color: $lighter;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
            }

            .nip {
                margin-bottom: 0.8em;
            }

            .form-check {
                margin-bottom: 2em;

                .form-check-input {
                    box-shadow: none;
                    border-color: $gold-300;
                    cursor: pointer;
                    &:checked {
                        background-color: $gold-500;
                    }
                }

                .form-check-label {
                    color: $white;
                    font-weight: 500;
                    font-size: 15px;
                    letter-spacing: 0.5px;
                    margin-left: 8px;
                }
            }
            
            .btn {
                background-color: $gold-500;
                
                font-size: 1.05em;
                font-weight: 700;
                letter-spacing: .5px;
                text-transform: uppercase;
                
                border-color: $gold-500;
                border-radius: 5px;
                margin-top: 1.5em;
            
                &:hover {
                    background-color: $gold-600;
                    border-color: $gold-600;
                }
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent !important;        
    color: $white !important;
    font-family: $base-font !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    -webkit-box-shadow: 0 0 0 30px $blue-700 inset !important;
    -webkit-text-fill-color: $white !important;
}

// Mobile
@media only screen and (max-width : 767px) {    

    .login {
        background: url('../../assets/images/img-1.png');
        background-size: cover;
        background-position: center;
        color: $white;

        .logo {
            img {
                margin: 0px;
                &:first-child {
                    height: 100px;
                    width: 80px;
                }
                
                &:last-child {
                    height: 90px;
                    width: 120px;
                }
            }

            margin: 3em 0em 1em 0em;
            justify-content: space-around !important;
            
            &__title {
                color: $white;
                font-family: $base-font;
                font-size: 2em;
                font-weight: bold;
                text-shadow: 1px 1px 2px $black;
                letter-spacing: 1px;
            }

            img:first-child {
                width: 60px;
                height: 80px;
            }
        }

        &__form {
            background-color: rgba($color: $blue-700, $alpha: 0.7);
            .form_container {

                .title {
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                .numCuenta, .nip {
                    margin-bottom: 2em;
                    border-bottom: 1px solid $white;            
                    &__input {
                        background-color: transparent;
                        border: none;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                    
                    &__label {
                        font-size: 1.2em;
                    }
        
                    .form-control {
                        background-color: transparent;
                        color: $white;
                        font-size: 1.1em;
        
                        padding-left: 0px;
                        padding-right: 0px;
                        
                        &::placeholder{
                            color: darken($color: $white, $amount: 10);
                        }
                    }
                    .form-control:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                .form-check {
                    margin-bottom: 2em;
    
                    .form-check-input {
                        box-shadow: none;
                        border-color: $gold-300;
                        &:checked {
                            background-color: $gold-500;
                        }
                    }
    
                    .form-check-label {
                        color: $white;
                    }
                }

                .btn {
                    font-size: 1.05rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: initial;
                    &:hover{
                        outline: none;
                        box-shadow: none;
                        background-color: darken($gold-500, 10);
                    }
                }
            }
        }

    }
}

@media only screen and (max-height : 650px) {
    .login {
        .logo {
            margin: 2em 0em 0.5em 0em;
        }

        &__form {
            .form_container {
                .numCuenta, .nip {            
                    &__label,
                    .form-control {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

// Tablet 
@media only screen and (min-width : 768px) and (max-width : 1400px) {
    .login {    
        .logo {
            img:last-child {
                display: none !important;
            }
        }
        &__form {
            .form_container {
                width: 100%;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
        }
    }
}

@media only screen and (min-width : 420px) and (max-width : 767px) {
    .login {    
        .logo {
            img:first-child {
                height: 120px;
                width: 90px;
            }

            &__title {
                display: none !important;
            }
        }
    }
}