.datatable{
    .cabezera{
        th{
            background-color: $blue-500;
            color: white;
            font-weight: bold;
            padding: 10px;
        }
    }
}
.datatable  {
    .cuerpo{
        tr:nth-child(2n+1){
            background: #EEEEEE;
        }
    } 
    
}