.datatable{
    .cabezera{
        th{
        color: #FFF;
        background-color: #9DACBF;
        font-size: 14px;
        padding: 4px;
        text-align: center;
        height: 20px;
        border: 1px solid #2580a2;
        }
    }
}
.datatable  {
    .cuerpo{
        tr:nth-child(2n+1){
            background: #EEEEEE;
        }
    } 
    
}