.tabla-historial{
    font-family: $base-font;
   
    thead{
        background-color: $blue-500;
        color: white;
        font-weight: bold;
    }
    
}
@media only screen and (max-width : 991px){
	.tabla-historial{
        tbody tr:nth-child(even){
            background-color: $blue-500;
            color: white;
        }
		thead {
			display: none;
		}
		tbody tr td{
			display: block;
			width: 100%;
		}
		tr{
			margin-bottom: 15px;
		}
		tr td{
			text-align: right;
			padding-left:50%;
			position: relative;
		}
		td::before{
			content: attr(data-label);
			position: absolute;
			left: 0;
			width: 50%;
			height: 100%;
			padding-left: 15px;
			font-size: 15px;
			font-weight: bold;
			text-align: left;
		}
	}
	
}