#titulo{
    text-align: center;
    font-weight: bold;
}

#tabla{
    //border: 1px solid black;
   
    #tcabecera{
        background-color: $blue-500;
        color: white;
        font-weight: bold;
    }
    
}

