.table-student {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 15px;
}

th,
td {
	padding: 15px;
	background-color: rgba(0,172,252,0.1);
	color: black;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: $blue-500;
        color: white;
		
	}
}

tbody {
    text-align: center;
	tr {
		&:hover {
			background-color: rgba($color: $blue-100, $alpha: 0.2);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba($color: $blue-200, $alpha: 0.2);
				z-index: -1;
			}
		}
	}
}


.table{
    th{
        background-color:$blue-500 ;
        color: white;
    }
}