#contenido{
    font-family: $base-font;
    #perfil{
        background-color: $blue-500;
        border-radius:left 15px ;
    }
    #columna{
        border-bottom: 1px solid black;
        border-top: 1px solid black ;
        border-right: 1px solid black ;
        p{
            font-weight: bold;
        }
    }
}