.SO {
    position: absolute;
    z-index: 999;
}

.DropdownContainer {
    display: flex;
    background-color: $uas-white;
    &__row {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 15px;
        gap: 40px;
    }
}