.dropdown {
    position: relative;
    cursor: initial;
    &__menu {
        position: absolute;
        top: 50px;

        padding: 5px;

        min-width: 200px;

        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border-radius: 5px;

        display: flex;

        opacity: 0;
        transform: translateY(-15px);
        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

        pointer-events: none;
    }
    
    .active {
        opacity: 1;
    }
}
.navbar-collapse + .nav-item { // PROFILE
    .dropdown {
        &__menu {
            left: initial !important;
            right: 0px;
        }
    }
}

.nav-item:nth-child(1),  // CONSULTAS
.nav-item:nth-child(2),  // REINSCRIPCIONES
.nav-item:nth-child(3),  // TRAMITES
.nav-item:nth-child(4),  // EXAMENES
.nav-item:nth-child(6) { // ENCUESTAS
    .dropdown {
        &__menu {
            left: 0px;
        }
    }
}

.nav-item:nth-child(5) { // IDIOMAS
    .dropdown {
        &__menu {
            left: -8em;
        }
    }
}

.dropdown.active > button + .dropdown__menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media only screen and (max-width : 1350px) {
    .nav-item:nth-child(3) { // TRAMITES
        .dropdown {
            &__menu {
                left: -20px;
            }
        }
    }

    .nav-item:nth-child(5) { // IDIOMAS
        .dropdown {
            &__menu {
                left: calc(-100% - 100px);
            }
        }
    }
}