.navlink {
    color: $black_4;
    display: block;

    span {
        font-family: $base_font;
        font-weight: 400;
        font-size: 15px;
    }
    
    padding: 6px 0px;
    text-decoration: none;

    &:hover {
        color: #4e4e4e;
        .navlink__bar {
            width: 100%;
        }
    }
    
    &__bar { 
        background-color: $gold_base;
        height: 2px;
        width: 0%;
        transition: width 200ms ease;
    }
}

.linkgroup {
    width: 200px;
}