.profile {
    background-color: $white_0;
    box-shadow: 0 24px 54px rgba(0,0,0,.15),0 4.5px 13.5px rgba(0,0,0,.08);
    display: inline-flex;
    padding: 10px 20px;
    z-index: 999;

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        
        .pic__container {
            border-radius: 50%;
            outline: 3px ridge $yellow_base;

            img {
                height: 120px;
                width: 120px;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        .logout,
        .options button:nth-child(1),
        .options button:nth-child(2) {
            align-self: flex-end;
            background: transparent;
            border: none;
            color: #0000DD;          
            text-decoration: underline;
        }
        
        .logout {
            padding: 2px 5px;  
            color: $black_4;
            text-decoration: none;
        }

        .data {
            display: flex;
            flex-direction: column;
            padding: 10px;

            span {
                font-family: $base-font;
            }

            span:nth-child(1){
                font-size: 1.3em;
                font-weight: 500;
            }
            span:nth-child(2){
                color: #0000DD;
                font-size: 1em;
                font-weight: 300;
                margin-bottom: 5px;
                text-decoration: underline;
            }
            span:nth-child(3){
                color: $black_4;
                font-size: 1em;
                font-weight: 400;
            }
        }

        .options {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                padding: 0px;
            }
        }
    }
}

.btn-nav-uas {
    i:last-child {
        transition: ease transform 200ms;
    }
}

.open-profile {
    transform: rotate(-180deg);
}

.profile-item {
    width: auto;
    display: inline-block;
    position: relative;
    .profile {
        position: absolute;
        right: 0px;
        top: 50px; /* Cambiar valor para mover tarjeta*/
    }
}