.nav-profile {
    display: inline-flex;
    padding: 5px 0px;
    
    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        
        .pic__container {
            border-radius: 50%;

            img {
                height: 100px;
                width: 100px;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        min-width: 200px;

        .logout,
        .options button:nth-child(1),
        .options button:nth-child(2) {
            align-self: flex-end;
            background: transparent;
            border: none;
            color: #0000DD;          
            text-decoration: none;
        }
        
        .logout {
            padding: 5px 5px;  
            color: $normal;
            
            text-decoration: none;
            font-size: 0.9em;
            font-weight: 400;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $lighter;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            padding: 10px 8px;

            span {
                font-family: $base-font;
                padding: 1.5px 0px;
            }

            span:nth-child(1){
                font-size: 1.1em;
                font-weight: 600;
                // text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 200px;
                overflow-x: hidden;
            }
            span:nth-child(2){
                color: #0000DD;
                font-size: 0.9em;
                font-weight: 400;
                margin-bottom: 5px;
                text-decoration: underline; 
            }
            span:nth-child(3){
                color: lighten($color: $black, $amount: 15);
                font-size: 0.9em;
                font-weight: 400;
            }
        }

        .options {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                padding: 0px;
                font-size: 0.9em;
                font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.btn-nav-uas {
    i:last-child {
        transition: ease transform 200ms;
    }
}

.open-profile {
    transform: rotate(-180deg);
}

.profile-item {
    width: auto;
    display: inline-block;
    position: relative;
    .profile {
        position: absolute;
        right: 0px;
        top: 50px; /* Cambiar valor para mover tarjeta*/
    }
}

.nav-item .nav-profile{
    .dropdown {
        &__menu {
            left: 0px;
        }
    }
}

@media only screen and (max-width : 991.83px) {
    .profile-item {
        .dropdown {

            .btn-nav-uas {
                display: flex;
                padding: 0;

                .nav-profile--picture {
                    order: 2;
                }

                span {
                    order: 1;
                }

            }
            &__menu {
                position: fixed;
                transform: scale(0.95) !important;
                top: 60px; // UBICACIÓN DE LA TARJETA - PROFILE
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .nav-profile {
        width: 100%;
        &__info {
            flex-grow: 1;
            .data {
                span:nth-child(1) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 90%;
                }
            }
        }
    }

    .profile-item {
        .dropdown {
            .dropdown__menu {
                transform: scale(0.90) !important;
                left: 0px !important;
            }
        }
    }
}
