.nav-profile {
    display: inline-flex;
    padding: 5px 0px;
    
    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        
        .pic__container {
            border-radius: 50%;
            outline: 3px ridge $gold-400;

            img {
                height: 100px;
                width: 100px;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        .logout,
        .options button:nth-child(1),
        .options button:nth-child(2) {
            align-self: flex-end;
            background: transparent;
            border: none;
            color: #0000DD;          
            text-decoration: none;
        }
        
        .logout {
            padding: 5px 5px;  
            color: $normal;
            text-decoration: none;
            font-size: 0.9em;
            font-weight: 400;

            &:hover {
                background-color: $lighter;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            padding: 10px 8px;

            span {
                font-family: $base-font;
                padding: 1.5px 0px;
            }

            span:nth-child(1){
                font-size: 1em;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            span:nth-child(2){
                color: #0000DD;
                font-size: 0.9em;
                font-weight: 400;
                margin-bottom: 5px;
                text-decoration: underline; 
            }
            span:nth-child(3){
                color: $light;
                font-size: 0.9em;
                font-weight: 400;
            }
        }

        .options {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            button {
                padding: 0px;
                font-size: 0.9em;
                font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.btn-nav-uas {
    i:last-child {
        transition: ease transform 200ms;
    }
}

.open-profile {
    transform: rotate(-180deg);
}

.profile-item {
    width: auto;
    display: inline-block;
    position: relative;
    .profile {
        position: absolute;
        right: 0px;
        top: 50px; /* Cambiar valor para mover tarjeta*/
    }
}

.nav-item .nav-profile{
    .dropdown {
        &__menu {
            left: 0px;
        }
    }
}

// @media only screen and (max-width : 1115px) {
//     .btn-nav-uas {
//         i:last-child {
//             display: none !important;
//         }
//     }
// }