//Configuraciones globales
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
// $base-font: 'Mukta', sans-serif;
// $base-font: 'Ubuntu', sans-serif;
$base-font: 'Lato', sans-serif;

/* COLORS */
$white: #FFFFFF;
$black: #000000;

// Text Colors
$normal: #73788C;
$light: #8F9CA3;
$lighter: #cecdcd;
$title: #2C2D31;
$background: #F9FAFA;

// Blue
$blue-100: #B6D4FF;
$blue-200: #6ddaf7;
$blue-300: #237EFF;
$blue-400: #005AD8;
$blue-500: #003B8E;
$blue-600: #003072;
$blue-700: #002456;
$blue-800: #001839;
$blue-900: #000C1D;

// Gold
$gold-100: #FBF2CB;
$gold-200: #F7E597;
$gold-300: #F2D863;
$gold-400: #EECB2F;
$gold-500: #D2AE11;
$gold-600: #AA8D0E;
$gold-700: #7F6A0A;
$gold-800: #554707;
$gold-900: #2A2303;

// Green
$green-100: #C9F6E7;
$green-200: #93EDCF;
$green-300: #5DE3B7;
$green-400: #27DA9E;
$green-500: #31E369;
$green-600: #168560;
$green-700: #116348;
$green-800: #0B4230;
$green-900: #062118;