//Configuraciones globales
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

//Colors
$uas-blue: #0C0057;
$uas-gold: #FDD110;
$uas-white:  #FFFFFF;

// Blue
$blue_font: #2317cc;
$blue_brd:  #92a9f5;
$blue_brd-light: #b0bff3;

// Yellow
$yellow_btn: #FFEEA1;